S3method(mutate,tbl_dt)
S3method(mutate_if,data.frame)
S3method(mutate_if,data.table)
S3method(mutate_if,grouped_df)
S3method(mutate_if,grouped_dt)
S3method(mutate_if,tbl_df)
export(modify)
export(mutate_if)
export(s_arrange)
export(s_filter)
export(s_group_by)
export(s_modify)
export(s_mutate)
export(s_mutate_if)
export(s_select)
export(s_summarise)
